// colors
$scheme-color1: #ffb3bf;
$scheme-color2: #b37d8b;
$scheme-color3: #ffecf1;
$scheme-color4: #ffd9e3;
$scheme-color5: #ffffff;


// $scheme-color1: #bf0081;
// $scheme-color2: #dad8d8;
// $scheme-color3: #2e3438;
// $scheme-color4: #ede7de;
// $scheme-color5: #737373;
